In [1]:
#Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
df = pd.read_csv('C:/Users/USER/Desktop/Stears Data Analysis Project/paystack_checkout_transactions.csv')

# Data Profiling

A glimpse into the dataset

In [3]:
df.head()

   id     status currency country_code
0   1     failed      USD           US
1   2    success      NGN           NG
2   3  abandoned      NGN          NaN
3   4    success      NGN           NG
4   5  abandoned      NGN           NG

In [4]:
df.tail()

        id     status currency country_code
3271  3272  abandoned      NGN          NaN
3272  3273  abandoned      NGN           NG
3273  3274  abandoned      NGN          NaN
3274  3275  abandoned      USD          NaN
3275  3276    success      NGN           NG

In [5]:
df.describe()

                id
count  3276.000000
mean   1638.500000
std     945.844067
min       1.000000
25%     819.750000
50%    1638.500000
75%    2457.250000
max    3276.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            3276 non-null   int64
 1   status        3276 non-null   object
 2   currency      3276 non-null   object
 3   country_code  1960 non-null   object
dtypes: int64(1), object(3)
memory usage: 102.5+ KB

The above code gives a more detailed information about our data types.
All except the id (int64, an integer) column are object (string) data type.

In [10]:
df.isna().sum()

id                 0
status             0
currency           0
country_code    1316
dtype: int64

From the above analysis, it is seen that there are a lot of missing values in the country_code column

In [11]:
df.shape

(3276, 4)

There are 3276 observations and 4 columns