Project Steps Overview
Your tasks in this project are as follows:

Step 1: Gathering data

Step 2: Assessing data

Step 3: Cleaning data

Step 4: Storing data

Step 5: Analyzing, and visualizing data

Step 6: Reporting

your data wrangling efforts
your data analyses and visualizations

In [7]:
#Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [8]:
df = pd.read_csv('C:/Users/USER/Desktop/Stears Data Analysis Project/paystack_checkout_transactions.csv')

# Data Profiling

A glimpse into the dataset

In [9]:
df.head()

   id     status currency country_code
0   1     failed      USD           US
1   2    success      NGN           NG
2   3  abandoned      NGN          NaN
3   4    success      NGN           NG
4   5  abandoned      NGN           NG

In [10]:
df.tail()

        id     status currency country_code
3271  3272  abandoned      NGN          NaN
3272  3273  abandoned      NGN           NG
3273  3274  abandoned      NGN          NaN
3274  3275  abandoned      USD          NaN
3275  3276    success      NGN           NG

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            3276 non-null   int64
 1   status        3276 non-null   object
 2   currency      3276 non-null   object
 3   country_code  1960 non-null   object
dtypes: int64(1), object(3)
memory usage: 102.5+ KB

The above code gives a more detailed information about our data types.
All except the id (int64, an integer) variables (column) are object (string) data type.

In [12]:
df.isna().sum()

id                 0
status             0
currency           0
country_code    1316
dtype: int64

From the above analysis, it is seen that there are a lot of missing values in the country_code column

In [13]:
df.shape

(3276, 4)

There are 3276 observations and 4 columns

In [14]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})

In [15]:
missing_value_df

               column_name  percent_missing
id                      id          0.00000
status              status          0.00000
currency          currency          0.00000
country_code  country_code         40.17094

In [16]:
percent_not_missing = df.notnull().sum() * 100 / len(df)
not_missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_not_missing})

In [17]:
not_missing_value_df

               column_name  percent_missing
id                      id        100.00000
status              status        100.00000
currency          currency        100.00000
country_code  country_code         59.82906

From the above block of code, we can see that over 40 percent of the observations of the country_code column are missing.

In [18]:
df.nunique()

id              3276
status             4
currency           2
country_code      22
dtype: int64

There are only two unique currency in the data set, names NGN (Naira) and USD (Dollar)
However, there are 22 unique

In [19]:
df.duplicated().sum()

0

There is no duplicate in our dataset

In [20]:
from datapackage import Package

package = Package('https://datahub.io/core/country-list/datapackage.json')

# print list of all resources:
print(package.resource_names)

# print processed tabular data (if exists any)
for resource in package.resources:
    if resource.descriptor['datahub']['type'] == 'derived/csv':
        print(resource.read())

['validation_report', 'data_csv', 'data_json', 'country-list_zip', 'data']
[['Afghanistan', 'AF'], ['Åland Islands', 'AX'], ['Albania', 'AL'], ['Algeria', 'DZ'], ['American Samoa', 'AS'], ['Andorra', 'AD'], ['Angola', 'AO'], ['Anguilla', 'AI'], ['Antarctica', 'AQ'], ['Antigua and Barbuda', 'AG'], ['Argentina', 'AR'], ['Armenia', 'AM'], ['Aruba', 'AW'], ['Australia', 'AU'], ['Austria', 'AT'], ['Azerbaijan', 'AZ'], ['Bahamas', 'BS'], ['Bahrain', 'BH'], ['Bangladesh', 'BD'], ['Barbados', 'BB'], ['Belarus', 'BY'], ['Belgium', 'BE'], ['Belize', 'BZ'], ['Benin', 'BJ'], ['Bermuda', 'BM'], ['Bhutan', 'BT'], ['Bolivia, Plurinational State of', 'BO'], ['Bonaire, Sint Eustatius and Saba', 'BQ'], ['Bosnia and Herzegovina', 'BA'], ['Botswana', 'BW'], ['Bouvet Island', 'BV'], ['Brazil', 'BR'], ['British Indian Ocean Territory', 'IO'], ['Brunei Darussalam', 'BN'], ['Bulgaria', 'BG'], ['Burkina Faso', 'BF'], ['Burundi', 'BI'], ['Cambodia', 'KH'], ['Cameroon', 'CM'], ['Canada', 'CA'], ['Cape Verde', 'CV'], ['Cayman Islands', 'KY'], ['Central African Republic', 'CF'], ['Chad', 'TD'], ['Chile', 'CL'], ['China', 'CN'], ['Christmas Island', 'CX'], ['Cocos (Keeling) Islands', 'CC'], ['Colombia', 'CO'], ['Comoros', 'KM'], ['Congo', 'CG'], ['Congo, the Democratic Republic of the', 'CD'], ['Cook Islands', 'CK'], ['Costa Rica', 'CR'], ["Côte d'Ivoire", 'CI'], ['Croatia', 'HR'], ['Cuba', 'CU'], ['Curaçao', 'CW'], ['Cyprus', 'CY'], ['Czech Republic', 'CZ'], ['Denmark', 'DK'], ['Djibouti', 'DJ'], ['Dominica', 'DM'], ['Dominican Republic', 'DO'], ['Ecuador', 'EC'], ['Egypt', 'EG'], ['El Salvador', 'SV'], ['Equatorial Guinea', 'GQ'], ['Eritrea', 'ER'], ['Estonia', 'EE'], ['Ethiopia', 'ET'], ['Falkland Islands (Malvinas)', 'FK'], ['Faroe Islands', 'FO'], ['Fiji', 'FJ'], ['Finland', 'FI'], ['France', 'FR'], ['French Guiana', 'GF'], ['French Polynesia', 'PF'], ['French Southern Territories', 'TF'], ['Gabon', 'GA'], ['Gambia', 'GM'], ['Georgia', 'GE'], ['Germany', 'DE'], ['Ghana', 'GH'], ['Gibraltar', 'GI'], ['Greece', 'GR'], ['Greenland', 'GL'], ['Grenada', 'GD'], ['Guadeloupe', 'GP'], ['Guam', 'GU'], ['Guatemala', 'GT'], ['Guernsey', 'GG'], ['Guinea', 'GN'], ['Guinea-Bissau', 'GW'], ['Guyana', 'GY'], ['Haiti', 'HT'], ['Heard Island and McDonald Islands', 'HM'], ['Holy See (Vatican City State)', 'VA'], ['Honduras', 'HN'], ['Hong Kong', 'HK'], ['Hungary', 'HU'], ['Iceland', 'IS'], ['India', 'IN'], ['Indonesia', 'ID'], ['Iran, Islamic Republic of', 'IR'], ['Iraq', 'IQ'], ['Ireland', 'IE'], ['Isle of Man', 'IM'], ['Israel', 'IL'], ['Italy', 'IT'], ['Jamaica', 'JM'], ['Japan', 'JP'], ['Jersey', 'JE'], ['Jordan', 'JO'], ['Kazakhstan', 'KZ'], ['Kenya', 'KE'], ['Kiribati', 'KI'], ["Korea, Democratic People's Republic of", 'KP'], ['Korea, Republic of', 'KR'], ['Kuwait', 'KW'], ['Kyrgyzstan', 'KG'], ["Lao People's Democratic Republic", 'LA'], ['Latvia', 'LV'], ['Lebanon', 'LB'], ['Lesotho', 'LS'], ['Liberia', 'LR'], ['Libya', 'LY'], ['Liechtenstein', 'LI'], ['Lithuania', 'LT'], ['Luxembourg', 'LU'], ['Macao', 'MO'], ['Macedonia, the Former Yugoslav Republic of', 'MK'], ['Madagascar', 'MG'], ['Malawi', 'MW'], ['Malaysia', 'MY'], ['Maldives', 'MV'], ['Mali', 'ML'], ['Malta', 'MT'], ['Marshall Islands', 'MH'], ['Martinique', 'MQ'], ['Mauritania', 'MR'], ['Mauritius', 'MU'], ['Mayotte', 'YT'], ['Mexico', 'MX'], ['Micronesia, Federated States of', 'FM'], ['Moldova, Republic of', 'MD'], ['Monaco', 'MC'], ['Mongolia', 'MN'], ['Montenegro', 'ME'], ['Montserrat', 'MS'], ['Morocco', 'MA'], ['Mozambique', 'MZ'], ['Myanmar', 'MM'], ['Namibia', 'NA'], ['Nauru', 'NR'], ['Nepal', 'NP'], ['Netherlands', 'NL'], ['New Caledonia', 'NC'], ['New Zealand', 'NZ'], ['Nicaragua', 'NI'], ['Niger', 'NE'], ['Nigeria', 'NG'], ['Niue', 'NU'], ['Norfolk Island', 'NF'], ['Northern Mariana Islands', 'MP'], ['Norway', 'NO'], ['Oman', 'OM'], ['Pakistan', 'PK'], ['Palau', 'PW'], ['Palestine, State of', 'PS'], ['Panama', 'PA'], ['Papua New Guinea', 'PG'], ['Paraguay', 'PY'], ['Peru', 'PE'], ['Philippines', 'PH'], ['Pitcairn', 'PN'], ['Poland', 'PL'], ['Portugal', 'PT'], ['Puerto Rico', 'PR'], ['Qatar', 'QA'], ['Réunion', 'RE'], ['Romania', 'RO'], ['Russian Federation', 'RU'], ['Rwanda', 'RW'], ['Saint Barthélemy', 'BL'], ['Saint Helena, Ascension and Tristan da Cunha', 'SH'], ['Saint Kitts and Nevis', 'KN'], ['Saint Lucia', 'LC'], ['Saint Martin (French part)', 'MF'], ['Saint Pierre and Miquelon', 'PM'], ['Saint Vincent and the Grenadines', 'VC'], ['Samoa', 'WS'], ['San Marino', 'SM'], ['Sao Tome and Principe', 'ST'], ['Saudi Arabia', 'SA'], ['Senegal', 'SN'], ['Serbia', 'RS'], ['Seychelles', 'SC'], ['Sierra Leone', 'SL'], ['Singapore', 'SG'], ['Sint Maarten (Dutch part)', 'SX'], ['Slovakia', 'SK'], ['Slovenia', 'SI'], ['Solomon Islands', 'SB'], ['Somalia', 'SO'], ['South Africa', 'ZA'], ['South Georgia and the South Sandwich Islands', 'GS'], ['South Sudan', 'SS'], ['Spain', 'ES'], ['Sri Lanka', 'LK'], ['Sudan', 'SD'], ['Suriname', 'SR'], ['Svalbard and Jan Mayen', 'SJ'], ['Swaziland', 'SZ'], ['Sweden', 'SE'], ['Switzerland', 'CH'], ['Syrian Arab Republic', 'SY'], ['Taiwan, Province of China', 'TW'], ['Tajikistan', 'TJ'], ['Tanzania, United Republic of', 'TZ'], ['Thailand', 'TH'], ['Timor-Leste', 'TL'], ['Togo', 'TG'], ['Tokelau', 'TK'], ['Tonga', 'TO'], ['Trinidad and Tobago', 'TT'], ['Tunisia', 'TN'], ['Turkey', 'TR'], ['Turkmenistan', 'TM'], ['Turks and Caicos Islands', 'TC'], ['Tuvalu', 'TV'], ['Uganda', 'UG'], ['Ukraine', 'UA'], ['United Arab Emirates', 'AE'], ['United Kingdom', 'GB'], ['United States', 'US'], ['United States Minor Outlying Islands', 'UM'], ['Uruguay', 'UY'], ['Uzbekistan', 'UZ'], ['Vanuatu', 'VU'], ['Venezuela, Bolivarian Republic of', 'VE'], ['Viet Nam', 'VN'], ['Virgin Islands, British', 'VG'], ['Virgin Islands, U.S.', 'VI'], ['Wallis and Futuna', 'WF'], ['Western Sahara', 'EH'], ['Yemen', 'YE'], ['Zambia', 'ZM'], ['Zimbabwe', 'ZW']]

In [21]:
def do_fuzzy_search(country):
    try:
        result = pycountry.countries.search_fuzzy(country)
    except Exception:
        return np.nan
    else:
        return result[0].alpha_3

In [24]:
iso_map = {country: do_fuzzy_search(country) for country in df["country"].unique()}
df["country_code"] = df["country"].map(iso_map)

KeyError: 'country'

As shown above, there is no duplicate in our data.

In [30]:
groupby_currency = df.groupby(by="currency")

In [31]:
groupby_currency

In [29]:
groupby_country_code = df.groupby(by="country_code")

In [32]:
groupby_country_code

In [37]:
# A functionthat finds the median of the values it receives
import numpy as np

def median(values):
    n = len(values)
    s = sorted(values)
    return (s[n//2-1]/2.0+s[n//2]/2.0, s[n//2])[n%2] if n else None

values = [1, 2, 6]
print(median(values))

2

In [38]:
import numpy as np

def median(values):
    n = len(values)
    s = sorted(values)
    return np.median([s])

values = [1, 2, 6]
print(median(values))

2.0

In [47]:
students = [("Allen Anderson", "Computer Science"),
            ("Edgar Einstein", "Engineering"),
            ("Farrah Finn", "Fine Arts")]
     

def add_new_student(students, name, major):
    students.append((name, major))

def update_student(students, index, name, major):
    students[index] = (name, major)

def find_students_by_name(students, name):
    return [student for student in students if name in student[0]]

def get_all_majors(students):
    return [student[1] for student in students]

In [51]:
get_all_majors(students)

['Computer Science', 'Engineering', 'Fine Arts']

In [48]:
get_all_majors(students)

['Computer Science', 'Engineering', 'Fine Arts']

In [49]:
find_students_by_name(students, 'in')

[('Edgar Einstein', 'Engineering'), ('Farrah Finn', 'Fine Arts')]

In [61]:
#add_new_student("Farrah Finn", "Enoch", "Fine Arts")

In [63]:
"""
Implement a group_by_owners function that:

Accepts a dictionary containing the file owner name for each file name.
Returns a dictionary containing a list of file names for each owner name, in any order.
For example, for dictionary {'Input.txt': 'Randy', 'Code.py': 'Stan', 'Output.txt': 'Randy'} the group_by_owners function should return {'Randy': ['Input.txt', 'Output.txt'], 'Stan': ['Code.py']}.


def group_by_owners(files):
    return None

if __name__ == "__main__":    
    files = {
        'Input.txt': 'Randy',
        'Code.py': 'Stan',
        'Output.txt': 'Randy'
    }   
    print(group_by_owners(files))
"""

from collections import defaultdict


def group_by_owners(files):
    owners = defaultdict(list)
    for file, owner in files.items():
        owners[owner].append(file)
    return owners


files = {
    'Input.txt': 'Randy',
    'Code.py': 'Stan',
    'Output.txt': 'Randy'
}
print(group_by_owners(files))

defaultdict(<class 'list'>, {'Randy': ['Input.txt', 'Output.txt'], 'Stan': ['Code.py']})